/*  Específico de index.html */



 .i-bloque {

 	width: 100%;

 	clear: both;

  /* http://www.quirksmode.org/css/clearing.html */

  overflow: hidden;

 }



.i-bloque h1 {

	font-size: 140%;

}



.i-bloque h2 {

	font-size: 120%;

}






.deditec {

  color: #b0070a;

}



#portada_fotos {

  margin: 0px 10px 0px 10px;

}

#noticias{

   width:380px;

   margin:0px 0px 10px 20px;

}

#noticias h1{

	font-size: 120%;

	color:#b0070a;

}

#noticias h2{

	font-size: 100%;

}

#noticias img{

   vertical-align:baseline;

   margin:0px 0px -2px 4px;

}

.noticia_fecha {

   font-weight: normal;

}

/* específico para el lector de noticias */

/* sólo es imprescindible dar un color de fondo, para evitar problemas con IE */

.newsticker {

	background-color:#ffffff;

	list-style-type:none;

   height:87px;

   margin:0px;

   padding:0px;

}

/* FIN específico para el lector de noticias */

#noticias_newsTicker {

   width:380px;

   margin:10px 0px 0px 0px;

   padding:0px;

}

#noticias_newsTicker ul, li {

   padding:0px;

   margin:0px;

}

#mas_noticias{

   text-align:right;

}
